
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" />
    <script src="~/lib/fontawesome-free-5.13.0-web/js/all.min.js"></script>
  
    <link href="~/css/AboutUs.css" rel="stylesheet" />

</head>
<body>


    <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top ">
            <div class="container">
                <a asp-controller="Home" class="navbar-brand text-uppercase font-weight-bold">Mobile Shop</a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler text-light navbar-toggler-right"><i class="fa fa-bars"></i></button>

                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item "><a asp-controller="Home" asp-action="Index" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-uppercase font-weight-bold  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               id="navbarDropdownMenuLink">Companies</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            </div>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                          <li class="nav-item "><a asp-controller="Order" asp-action="MyOrders" class="nav-link text-uppercase font-weight-bold">Order</a></li>
                        }
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-uppercase font-weight-bold dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdownMenuLink1"><img class="rounded-circle mr-1 mb-1" width="25" height="25" asp-append-version="true" src="~/Image/emp.jpg" />Account</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item text-light" asp-controller="Home" asp-action="Profile">Profile</a>
                                    <a class="dropdown-item text-light " asp-controller="Account" asp-action="Logout">Logout</a>
                                }
                                else
                                {
                                    <a class="dropdown-item text-light" asp-controller="Account" asp-action="Register">Register</a>
                                    <a class="dropdown-item text-light" asp-controller="Account" asp-action="Login">Login</a>
                                }
                                </div>
                        </li>
                        <li class="nav-item active"><a asp-controller="Home" asp-action="AboutUs" class="nav-link text-uppercase font-weight-bold">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="image-aboutus-banner" style=" background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/Image/bg.jpg'); margin-top:70px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lg-text">About Us</h1>
                    <p class="image-aboutus-para"><b>Mobile Store</b> The Name of Quality.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bread-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-8">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Home">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-4">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutus-secktion paddingTB60">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="strong">Who we are and<br>what we do</h1>
                    <p class="lead">This is the world's leading portal for<br>easy and quick </p>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet. Nulla convallis egestas rhoncus.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container team-sektion paddingTB60">
        <div class="row">
            <div class="site-heading text-center">
                <h3>Our Team</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua. Ut enim ad minim </p>
                <div class="border"></div>
            </div>
        </div>
        <div class="card-deck mb-2 row">

            <div class=" col-md-4 col-sm-6 col-12 team-box">
                <div class="team-img thumbnail">
                    <img src="~/Image/emp.jpg" class="card-img-top" asp-append-version="true">
                    <div class="team-content">
                        <h3 class="card-title text-center">Muhammad Sami</h3>
                        <div class="border-team"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
                            <a href="https://twitter.com/"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
                            <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
                            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fas fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 team-box col-sm-6 col-12">
                <div class="team-img thumbnail">
                    <img src="~/Image/emp.jpg" class="card-img-top" asp-append-version="true">
                    <div class="team-content">
                        <h3 class="card-title text-center">Vikram Rathore</h3>
                        <div class="border-team"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
                            <a href="https://twitter.com/"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
                            <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
                            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fas fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 team-box col-sm-6 col-12">
                <div class="team-img thumbnail">
                    <img src="~/Image/emp.jpg" class="card-img-top" asp-append-version="true">
                    <div class="team-content">
                        <h3 class="card-title text-center">Robert Sam</h3>
                        <div class="border-team"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
                            <a href="https://twitter.com/"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
                            <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
                            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fas fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="cta-sektion cta-padding35">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h3><span class="glyphicon glyphicon-cog "></span> <b>Wanna Purchase Phone?</b> Explore Brands like a pro.</h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Start Right Now</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small unique-color-dark pt-4">

        <!-- Footer Elements -->
        <div>

            <div class="row container-fluid">
                <div class=" col-md-4 col-lg-4 col-12">
                    <h4 class="font-weight-bolder"> <span class="badge badge-success"></span>HELP AND INFORMATION</h4>
                    <p>
                        Got Question? Call us on <br /><br />

                        <b class="font-italic">+923062291739 </b><br /><br />
                        <i class="fas fa-map-marker-alt"></i> Teen Talwar Clifton Karachi<br />
                    </p>
                </div>
                <div class=" col-md-4 col-lg-4 col-12">
                    <h4 class="font-weight-bolder"> <span class="badge badge-success"></span>SAVE PAYMENT METHODS</h4>
                    <img src="~/Image/IMGBIN_cash-on-delivery-payment-bank-money-png_DCmTbpZr.png" width="150" height="150" asp-append-version="true" />
                    <img src="~/Image/images (2).png" class="imageThumbnail m-1" width="150" height="150" asp-append-version="true" />
                </div>
                <div class=" col-md-4 col-lg-4 col-12">
                    <h4 class="font-weight-bolder"> <span class="badge badge-success"></span>CONTACT INFO</h4>
                    <div class="d-flex flex-row">
                        <i class="fas fa-phone-volume rounded" style="width:50px; height:50px"></i>
                        <div class="ml-3">
                            <a href="tel:0306-2219739" class="text-decoration-none">
                                <h5>Phone</h5>
                                <pre>0306-2219739</pre>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <i class="fas fa-envelope-open-text rounded" style="width:50px; height:50px"></i>
                        <div class="ml-3">
                            <a href="mailto:s.m.sami125@gmail.com" class="stretched-link text-decoration-none">
                                <h5>Email</h5>
                                <pre>s.m.sami125@gmail.com</pre>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Call to action -->
            <div class="footer-copyright text-white text-center py-3  bg-dark">
                © @DateTime.Now.Year :<a asp-controller="Home" asp-action="Index" class="text-white"> Mobile Store System</a>
            </div>
        </div>
    </footer>
    <script>
        window.onload = async function () {

            const req = await fetch('/CompanyModel/GetCompanies');
            const data = await req.json();
            data.forEach(row => {
                var PhoneId = parseInt(row.phoneid);
                document.querySelector("#navbarDropdownMenuLink + div").innerHTML +=
                    `<a class="dropdown-item text-light" href=/Home/Models/${PhoneId}>${row.com_name}</a >`;
            });
        }
    </script>
</body>
</html >
