@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We Charge 1% for every Order-Update and 2.9% for Deleting Order</p>
<p>We  Recommend to create new Order Instead of adding new Products to  Current Order</p>